In [1]:
# DBMS MINI PROJECT
# Date: 25/09/2002
# Team: Akshay Dongare, Jaydatta Patwe, Yash Dagadkhair

In [3]:
# Started by creating a conda virtual environment and installed python 3.10.0, jupyter-notebook, ipykernal

In [4]:
# Connecting MySQL to Python

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Mypassword#1"
)

print(mydb) #prints the database object

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f13584c5fc0>

In [6]:
# Created a database for our project

In [4]:
mycursor = mydb.cursor()

In [8]:
mycursor.execute("CREATE DATABASE mini_project")

In [14]:
"""
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| Employee_db        |
| akshay             |
| asgn3              |
| asgn9              |
| information_schema |
| mini_project       |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
9 rows in set (0.00 sec)
"""

'\nmysql> show databases;\n+--------------------+\n| Database           |\n+--------------------+\n| Employee_db        |\n| akshay             |\n| asgn3              |\n| asgn9              |\n| information_schema |\n| mini_project       |\n| mysql              |\n| performance_schema |\n| sys                |\n+--------------------+\n9 rows in set (0.00 sec)\n'

In [7]:
mycursor.execute("use mini_project")

In [8]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [ ]:
"""
mysql> show tables;
+------------------------+
| Tables_in_mini_project |
+------------------------+
| customers              |
+------------------------+
1 row in set (0.00 sec)

mysql> desc customers;
+---------+--------------+------+-----+---------+----------------+
| Field   | Type         | Null | Key | Default | Extra          |
+---------+--------------+------+-----+---------+----------------+
| id      | int          | NO   | PRI | NULL    | auto_increment |
| name    | varchar(255) | YES  |     | NULL    |                |
| address | varchar(255) | YES  |     | NULL    |                |
+---------+--------------+------+-----+---------+----------------+
3 rows in set (0.00 sec)
""